@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Soft-red: hsl(5, 85%, 63%);
  --Soft-orange: hsl(35, 77%, 62%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
  max-width: 100%;

}

body{
    font-family: "Inter";
}

.container{
  margin: 0 auto;
  max-width: 1240px;
  padding:0 30px ;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  animation: 1.5s slider ease .5s ;
}

@keyframes slider {
  0%{
    transform: translatey(-100px);
    opacity: 0;
  }

  100%{
    transform: translatey(-0px);
    opacity: 1;
  }
}

.links ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links ul li{
 list-style: none;
}

.links ul li a{
  text-decoration: none;
  color:var(--Dark-grayish-blue);
  transition: 0.5s color ease;
}

.links ul li a:hover{
  color:var(--Soft-red);
}

.hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.new_articles {
  background-color:hsl(240, 100%, 5%) ;
  font-family: 'Inter', sans-serif;
  color: hsl(36, 100%, 99%);
  padding: 1em;
  animation: 1.5s asider ease .5s;
}

@keyframes asider {
  0%{
    transform: translatex(100px);
    opacity: 0;
  }

  100%{
    transform: translatex(0px);
    opacity: 1;
  }
}

.heading {
  font-size:2.5em ;
  margin-top: 7px;
  color:var(--Soft-orange);
}

.divarticle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.article {
  margin:25px 5px;
}

.article a{
  color: hsl(36, 100%, 99%);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: 1s color ease;
}

.article a:hover{
  color: var(--Soft-orange) ;
}

.hero_text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
}

.hero_text h1{
  font-size: 3rem;
  font-weight: 900;
}

.button {
  background-color:hsl(5, 85%, 63%) ;
  padding: 1em 1.5em;
  display: inline-block;
  margin-top: 2em;
  text-decoration: none;
  color: hsl(36, 100%, 99%) ;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  transition: 2s background ease;
}
.button:hover{
  background-color:hsl(240, 100%, 5%);
}

.articles{
  display: flex;
  gap: 1rem;
  margin: 4rem 0;
}

.new_article{
  display: flex;
  gap: 1rem;
}

.new_article .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.new_article img{
  max-width:120px;
}

.content h2 {
  color: hsl(233, 8%, 79%);
  font-size: 2em;
}

.content a{
  text-decoration: none;
  color: hsl(240, 100%, 5%) ;
  font-size: 1rem;
  font-weight: 800;
  transition: 0.5s color ease;
}

.content a:hover{
  color: var(--Soft-red);
}

@media screen and (max-width:800px) {
   
    .hero{
      grid-template-columns: 1fr;
    }
    .articles{
      flex-direction: column;
    }
}